<% form_for :level, :html => { :multipart => true} do |f| %>

	<div><%= f.label :question %>
	<%= f.text_field :question, :placeholder => "Write the question here" %></div>

	<div><%= f.label :answer %>
	<%= f.label :answer, :placeholder => "Write the answer here" %></div>

	<div><%= f.submit "Insert" %></div> 

<% end %>