<%= form_for @level do |f| %>

	<div><%= f.label :question %>
	<%= f.text_field :question, :placeholder => "Write the question here" %></div>

	<div><%= f.label :answer %>
	<%= f.text_field :answer, :placeholder => "write the answer here" %></div>

	<div><%= f.submit "Insert" %></div> 

<% end %>