<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>
 
 <div><%= f.label :college %> <br />
    <%= f.text_field :college, :placeholder => "Enter the name of your college" %></div>

  <div><%= f.label :user_name %> <br />
    <%= f.text_field :user_name, :placeholder => "Name to be displayed on the leaderboard"%></div>
    
      <div><%= f.submit "Sign up" %></div>
  
    <% end %>

    <%= link_to "Back", :back %>
  </div>
</div>
