<!DOCTYPE html>
<html>
<html lang="en">
<head>
  <title>BrainStorm</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag    "bootstrap", :media => "all" %>
  <%= stylesheet_link_tag    "bootstrap-theme", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class="container-fluid">
    <nav class="navbar navbar-default" role="navigation">
      <div class="navbar-header">   <!-- For navbar-->

 <!-- Brand and toggle get grouped for better mobile display -->
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
         <span class="sr-only">Toggle navigation</span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
    </button>
  <div class="navbar-brand"><%= link_to image_tag("bsheader.png"), root_path, id: 'logo' %></div>
     </div>
     <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
       <ul class="nav navbar-nav navbar-right">
           <li><%= link_to "Rules", rules_path %></li>
           <li><%= link_to "Forum", root_path %></li>
          
      <% if current_user.try(:admin?) %>
         <li><%= link_to "Make Game", admin_path %></li>
      <% end %>
          <li><%= link_to "LeaderBoard", leaderboard_path %></li>

      <% if user_signed_in? %>
          <li><%= link_to "Play Game", play_path%></li>
          <li><%= link_to "Logout", destroy_user_session_path, :method => :delete  %></li>
      <% else %> 
          <li><%= link_to "Sign In", user_session_path %></li>
          <li><%= link_to "SignUp", new_user_registration_path %></li>
      <% end %>
      </ul>
     </div> 
    </nav>


   <div class ="container"><!--for container-->
        <% if flash[:notice] %>
     <div class = "alert alert-info">
       <a class="close" data-dismiss="alert" href="#" aria-hidden="true">&times;</a>
       <%= flash[:notice] %>
     </div>
     <% end %>
     <% if flash[:alert] %>
     <div class = "alert alert-danger">
       <a class="close" data-dismiss="alert" href="#" aria-hidden="true">&times;</a>
       <%= flash[:alert] %>
     </div>
     <% end %>
  
<%= yield %>

    <div class="col-md-12 col-xs-12 col-lg-12">
      <hr>
      <p>Our Sponsor: <%= link_to image_tag("obtuseorange.png"), "http://www.facebook.com/obtuseorange", :class=>"image-responsive" %></p>
    </div>

</div>

</body>
</html>
